// main: ../style.less

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.margin__bottom{
    margin-bottom: 0;
}

.hide{
    display: none;
}

.hide-footer{
    display: none;

    @media @mobile{
        display: flex;
        position: absolute;
        bottom: 0;
        margin-bottom: .4rem;
    }

    & .slickNext{
        margin-left: 136px;
    }
}